h1 {
    color: rgb(92, 63, 26);
    font-family: "Times New Roman";
  }
  h2, h3 {
    color: rgb(197, 122, 31);
    font-family: "Arial";
  }
p {
font-size: 20px;
}
  body {
    color: rgb(0, 0, 0);
    background-color: rgb(148, 115, 26);
  }
  table {
    border: 50px solid rgb(88, 70, 9);
  }
  th {
    border: 50px solid;
  }
footer {
color: rgb(255, 255, 255);
font-size: 20px;
}
blockquote {
color: rgb(253, 253, 253);
font-style: italic;
}
li {
list-style: circle;
}
a {
border-style: solid;
border-color:black;

}
a:link {
text-decoration: none;
background-color: yellow;
}
a:hover {
text-decoration: underline;
}
section {
        background-color: white;
        padding: 20px;
        margin: 10px 0;
        border: 20px solid rgb(114, 77, 7);
        font-size: 20px;
    }

img {
    border-radius: 8px;
}
button {
    background-color: orange;
}
button:hover {
    text-decoration: underline;
}